<div style="text-align: center">
    <div class = "my_project_header_logo">
        <h1>SJ's project</h1>
    </div>
    <div class = "my_project_header_button">
        <span>nav1</span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                Signup
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {%  endif %}
    </div>




</div>